/* 
- Pseudo-classes

É um tipo de seletor que irá selecionar um elemento que estiver em um estado específico.

Exemplo: É o primeiro elemento dentro de uma caixa, ou, o elemento está com o ponteiro do mouse sobre ele.

Pseudo-classes começam com 2 pontos seguido do nome da pseudo class :pseudo-class-name
*/

/*
- first-child

:first-child
É quando queremos selecionar o primeiro filho de um grupo de elementos.

HTML

<ul>
  <li>Gratidão</li>
  <li>Esperança</li>
  <li>Fé</li>
</ul>

CSS

ul li:first-child {
  font-weight: bold;
}
*/

/*
- nth-of-type

:nth-of-type()
Pega o elemento por tipo e posição

HTML

<ul>
  <h3>Palavras bonitas</h3>
  <li>Gratidão</li>
  <li>Esperança</li>
  <li>Fé</li>
</ul>
CSS

// Dos tipos de li que temos em ul, aplicar ao elemento de numero (n (digitar o numero desejado))
ul li:nth-of-type(1) {
  font-weight: bold;
}
*/

/*
- nth-child

:nth-child()
É quando queremos selecionar o primeiro filho de um grupo de elementos.

HTML

<ul>
	<h3>Palavras bonitas</h3>
  <li>Gratidão</li>
  <li>Esperança</li>
  <li>Fé</li>
</ul>
CSS

ul li:nth-child(2) {
  font-weight: bold;
}
*/
