/*
- Layouts e evolução

Layout tem a ver com a maneira que os elementos estão distribuidos na tela


- Normal flow

Ou flow Layout que é a maneira que os elementos 'block' e 'inline' ficam na página

Ex:
<p>Texto block com <strong>inline</strong> dentro </p>
>>> Aqui não há quebra de linha

<div style="background: green">Outro texto</div>
>>> Aqui temos um display block, onde o texto acima ocupa toda a linha

- Por padrão temos elementos block e inline 

- Tables 
É uma forma de tabela onde a tag 'table' recebe um display 'table' fazendo com que os elementos internos como 'td' e 'tr' possam ser usados para montar uma tabela

``` html

<table>
  <tr>
    <td>Hora</td>
    <td>20:00</td>
  </tr>
  <tr>
    <td>Hora</td>
    <td>20:37</td>
  </tr>
</table>

```
*/

/* 
- Tableless

Uso das propriedades 'float', 'clear' para que os elementos possam mudar de posição na tela

``` html
<div style="float: left">esquerda</div>
<div style="float: right">direita</div>
<div style="clear: both">normal flow</div>
```
*/

/* 
- Flexbox

A caixa se torna flex, fazendo com que os elementos internos possam receber melhor:

- alinhamento 
- ordenação 
- tamanhos flexíveis

``` html

<head>
  <style>
    .flexbox {
      display: flex;
      justify-content: space-around;
    }

    .item:nth-child(1){
      order: 1;
    }
    OBS: O elemento A foi para a ultima posição pois recebeu ordem de posicionamento 1, e os demais estão na ordem de posicionamento 0 
  </style>
</head>
<body>
  <div class="flexbox">
    <div class="item">A</div>
    <div class="item">B</div>
    <div class="item">C</div>
  </div>
</body>

```
*/

